.flex-card-container{
    display: flex ;
    flex-flow: row wrap;
    justify-content: space-around;
}
.flex-card{
    margin: 2em;
    padding: 2em;
    width: 400px;
}

.dandCards-image{
    max-width:100px;
    border-radius: 50%;
    border: 4px #394B59 solid;
}

.favorite-icon{
    position: absolute;
    top: -50px;
    left: 97%;
}

.dandcard-relative{
    position:relative
}

.dandcard-flexcontainer{
    display: flex;
    flex-flow: row nowrap;
}

.dandcard-flexcontainer p{
    padding: 1em 0;
    flex: 2 auto;
}

.dandcard-flexcontainer img{
    flex: 1 auto;
}
