.dasboard-list-image{
    width: auto;
    max-height: 80%;    
    border: black 1px solid;
    border-radius: 100%;
}
.dashboard-card{
    margin: 1em;
    padding: 1em;
    height: 200px;
    border-radius:8px;
}