<div class="grid">
  <div class="col">
    <div class="card p-fluid">
      <h5>Character</h5>
      <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
        <div class="field">
          <label for="name">Name</label>
          <input pInputText formControlName="name" id="name" type="text" />
        </div>
        <div class="field">
          <label for="race">Race</label>
          <app-class-dropdown
            id="race"
            [parentForm]="characterForm"
            type="RACE"
            controlName="race"
          ></app-class-dropdown>
        </div>
        <div class="field">
          <label for="class">Class</label>
          <app-class-dropdown
            id="class"
            [parentForm]="characterForm"
            type="CLASS"
            controlName="class"
          ></app-class-dropdown>
        </div>
        <div class="field">
          <label for="age">Age</label>
          <input pInputText formControlName="age" id="age" type="number" />
        </div>
        <div class="field">
          <label for="description">Description</label>
          <textarea
            pInputTextarea
            formControlName="description"
            id="description"
          ></textarea>
        </div>
        <p-button type="submit" [disabled]="!characterForm.valid">
          Save
        </p-button>
      </form>
    </div>
  </div>
</div>
