<div class="grid">
  <div class="col">
    <div class="card">
      <h2>Campaign characters</h2>
      <div class="py-3">
        <p-button
          label="New"
          icon="pi pi-plus"
          (onClick)="openNewForm()"
        ></p-button>
        <p-button
          label="Random"
          icon="pi pi-book"
          (onClick)="generateRandomCharacter()"
        ></p-button>
      </div>
      <app-characters-list></app-characters-list>
    </div>
  </div>
</div>
<p-sidebar
  [visible]="(ui$ | async).isNewFormOpen"
  (onHide)="closeForm()"
  position="right"
>
  <app-character-form></app-character-form>
</p-sidebar>
